* {
    margin: 0;
    padding: 0;
}

.container{
  width: 100%;
  margin: 0 auto; 
} 

.user-info{
    background-color: red;
}

.btn{
    align-self: center;
    margin-top:10px;
}
